<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <header>
      <% include ../partials/header_admin %>
    </header>
    <div class="container">

      <main>
        <div class="row">
          <div class="col-md-3">
            <img src="https://avatars1.githubusercontent.com/u/8406261"  alt="user profile" class="center img-thumbnail" />
            <hr>
            <% if (user) { %>
              <table class="table table-striped">
                <tr><td><strong><%= user.email %></strong></td></tr>
                <tr><td><strong><%= user.name %></strong></td></tr>
                <tr><td><strong><%= user.dni %></strong></td></tr>
                <tr><td><strong><%= user.phone %></strong></td></tr>
                <tr><td><strong><%= user.country %></strong></td></tr>
                <tr><td><strong><%= user.city %></strong></td></tr>
                <tr>
                  <td>
                    <span class="label label-warning">Mis intereses</span>
                    <% user.interests.forEach((item) => { %>
                      <span class="label label-info"><%= item %></span>
                    <% }) %>
                  </td>
                </tr>
              </table>
            <% } %>
            <hr>
          </div>
          <div class="col-md-9">
            <% if (suscribers) { %>
              <table class="table table-striped">
              <tr>
                <th colspan="5" class="text-center">Usuarios Inactivos</th>
              </tr>
              <tr>
                <th>Foto</th>
                <th>Nombre</th>
                <th>Email</th>
                <!-- <th>Intereses</th> -->
                <th>Activar</th>
                <th>Modificar</th>
              </tr>

                <% suscribers.forEach(function(susc) { %>
                  <% if (!susc.local.active && susc.local.role === 'suscriber') { %>
                    <tr>
                      <td><img src="https://avatars1.githubusercontent.com/u/8406261" width="50" alt="user profile" class="center img-thumbnail" /></td>
                      <td><strong><%= susc.local.name %></strong></td>
                      <td><strong><%= susc.local.email %></strong></td>

                      <td><a href="/admin/activation/<%- susc._id %>"  class="btn btn-sm btn-warning"> <span class="glyphicon glyphicon glyphicon-ok"></span></a></td>
                      <td><a href="/admin/modify_sus/<%- susc._id %>"  class="btn btn-sm btn-default"> <span class="glyphicon glyphicon glyphicon-floppy-disk"></span></a></td>
                    </tr>
                  <% } %>
                <% }) %>
              </table>
              <br><hr><br>
              <table class="table table-striped">
              <tr>
                <th colspan="5" class="text-center">Usuarios Activos</th>
              </tr>
              <tr>
                <th>Foto</th>
                <th>Nombre</th>
                <th>Email</th>
                <!-- <th>Intereses</th> -->
                <th>Desactivar</th>
                <th>Modificar</th>
              </tr>

                <% suscribers.forEach(function(susc) { %>
                  <% if (susc.local.active && susc.local.role === 'suscriber') { %>
                    <tr>
                      <td><img src="https://avatars1.githubusercontent.com/u/8406261" width="50" alt="user profile" class="center img-thumbnail" /></td>
                      <td><strong><%= susc.local.name %></strong></td>
                      <td><strong><%= susc.local.email %></strong></td>

                      
                      <td><a href="/admin/deactivation/<%- susc._id %>"  class="btn btn-sm btn-info"> <span class="glyphicon glyphicon glyphicon-remove"></span></a></td>
                      <td><a href="/admin/modify_sus/<%- susc._id %>"  class="btn btn-sm btn-default"> <span class="glyphicon glyphicon glyphicon-floppy-disk"></span></a></td>
                    </tr>
                  <% } %>
                <% }) %>
              </table>
            <% } %>
          </div>
        </div>
      </main>
    </div>
    <%include ../partials/footer %>
  </body>
</html>

</script>
